{% extends 'content.html' %}

{% load static %}
{% load thumbnail %}

{% block title %}
    {{ product.name }} – {{ block.super }}
{% endblock %}


{% block heading %}
    {{ product.name }}
{% endblock %}

{% block inner %}
    <div class="product product--detail">
        <div class="product__gallery">
            {% with images=product.images.all %}
                <div class="product-slider product__slider swiper">
                    <ul class="product-slider__slides swiper-wrapper">
                        {% for image in images %}
                            <li class="product-slide swiper-slide">
                                <img class="product-slide__image" src="{{ image.file.url }}" alt="Product">
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="product-thumbs swiper">
                    <ul class="product-thumbs__slides swiper-wrapper">
                        {% for image in images %}
                            <li class="product-thumb swiper-slide">
                                <img class="product-thumb__image" src="{% thumbnail image.file 100x0 %}" alt="Product">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endwith %}
        </div>

        <div class="product__content">
            <h2 class="product__title product__title--lg">
                {{ product.name }}
            </h2>

            <form class="cart-update-form" action="{% url 'cart:update' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="variation_id" value="">

                <table class="product-info">
                    <tbody>
                        <tr>
                            <th class="product-info__header">
                                Артикул:
                            </th>
                            <td class="product-info__data">
                                {{ product.sku }}
                            </td>
                        </tr>
                        <tr>
                            <th class="product-info__header">
                                Категория:
                            </th>
                            <td class="product-info__data">
                                {{ product.category.name }}
                            </td>
                        </tr>
                        <tr>
                            <th class="product-info__header">
                                Размер:
                            </th>
                            <td class="product-info__data">
                                <div class="sizes sizes--lg product-info__sizes">
                                    <div class="sizes__list">
                                        {% for size in sizes %}
                                            <label class="size sizes__item">
                                                <input class="size__field" type="radio" name="size_id" value="{{ size.size }}">
                                                <span class="size__inner">
                                                    {{ size.size__value }}
                                                </span>
                                            </label>
                                        {% endfor %}
                                    </div>

                                    <button class="sizes__btn not-implemented" type="button">
                                        Таблица размеров
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="product-info__header" style="vertical-align: middle">
                                Цвет:
                            </th>
                            <td class="product-info__data">
                                <div class="colors">
                                    <div class="colors__list">
                                        {% for color in colors %}
                                            <label class="color color--lg colors__item" style="--color-value: {{ color.color__value }}">
                                                <input class="color__field" type="radio" name="color_id" value="{{ color.color }}" checked>
                                                <span class="color__inner"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="product__summary">
                    <div class="product-pricing product__pricing">
                        <div class="product-pricing__price product-pricing__price--lg">
                            {{ product.price }} ₽
                        </div>
                    </div>

                    <div class="product__actions">
                        <button class="btn btn--gold product__btn" type="submit" name="do" value="add">
                            В корзину
                        </button>

                        <button class="product__fav-btn" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 22 22">
                                <path stroke="#B9A67D" stroke-miterlimit="10" stroke-width="1.5" d="M10.993 6.732a6.199 6.199 0 0 1 .347-2.184 5.71 5.71 0 0 1 1.076-1.861 5.022 5.022 0 0 1 1.638-1.248A4.548 4.548 0 0 1 15.996 1c.667 0 1.327.15 1.942.439.615.29 1.172.714 1.638 1.248a5.712 5.712 0 0 1 1.076 1.861 6.18 6.18 0 0 1 .347 2.184v.303C20.758 14.78 10.993 21 10.993 21S1.253 14.78 1 7.038v-.303a6.126 6.126 0 0 1 .741-2.93 5.271 5.271 0 0 1 2-2.062 4.554 4.554 0 0 1 2.669-.587c.92.084 1.803.45 2.549 1.061" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>

            <div class="product__installment not-implemented">
                В рассрочку от 1034 ₽
            </div>

            <div class="product__orders">
                Этот товар заказали уже более <strong>87 раз</strong>
            </div>

            <div class="product__description">
                {{ product.description|linebreaks }}
            </div>

            <div class="delivery-info product__delivery-info">
                <div class="delivery-info__title">
                    Ближайшая доставка <span>11 сентября</span>
                </div>

                <div class="delivery-info__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="17" fill="none" viewBox="0 0 52 17">
                        <path stroke="#AF996B" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M13.682 11.856c0 .544-.109 1.068-.307 1.543a3.961 3.961 0 0 1-7.131.336A3.955 3.955 0 0 1 9.725 7.9a3.955 3.955 0 0 1 3.957 3.956ZM40.575 7.9a3.955 3.955 0 0 1 3.956 3.956 4.03 4.03 0 0 1-.306 1.543 3.97 3.97 0 0 1-3.65 2.413 3.963 3.963 0 0 1-3.778-2.78 4.237 4.237 0 0 1-.178-1.176A3.961 3.961 0 0 1 40.575 7.9Zm9.495.79v.792l-2.374-.791V7.346c1.8.771 2.373 1.345 2.373 1.345Zm-14.912 4.748H15.143m34.927 0h-4.748" />
                        <path stroke="#AF996B" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M4.979 13.438S2.59 12.553 1.737 11.3c-.934-1.372-.714-2.246-.714-4.19m0 0h3.956L2.605 5.525M1.023 7.108l1.582-1.582m0 0c2.262-.832 3.215-.5 5.121-1.287 1.214-.5 1.775-1.034 2.977-1.562C15.07.764 17.37.778 22.76.778c5.341 0 9.924 2.349 14.912 3.744 3.988 1.116 3.418-.008 10.024 2.824V8.69l2.374.791v1.583l.801.79-.801.792" />
                    </svg>
                    <div>
                        Доставка <span>по Иркутску</span> бесплатна<br>
                        при покупке от 1000 ₽
                    </div>
                </div>
                <div class="delivery-info__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="31" fill="none" viewBox="0 0 46 31">
                        <path stroke="#AF996B" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M39.04 11.906V5.938L45 11.906h-3.231m-23.164 0H.932L6.89 5.938l12.381-4.02m-.667 9.989L22.965.963 39.04 5.938v18.891l-16.075 4.797L6.891 24.83V11.906h11.714Z" />
                    </svg>
                    <div>
                        Закажите до 5 товаров<br>
                        на доставку <span>с примеркой</span>
                    </div>
                </div>
            </div>

            {% include '_socials.html' with title='Поделиться' %}
        </div>
    </div>
{% endblock %}

{% block sections %}
    {% if recommended_products %}
        <section class="similars-section">
            <div class="page__container">
                <div class="section-header similars-section__header">
                    <h3 class="section-header__title">
                        Рекоммендуем
                    </h3>
                </div>

                <div class="similar-products swiper">
                    <ul class="similar-products__slides swiper-wrapper">
                        {% for suggestion in recommended_products %}
                            {% include 'shop/_product.html' with product=suggestion class='product--slide swiper-slide' %}
                        {% endfor %}
                    </ul>

                    <div class="similar-products__nav">
                        <button class="similar-products__nav-btn similar-products__nav-btn--prev" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" fill="none" viewBox="0 0 10 18">
                                <path stroke="#888" d="M9.35.64 1.037 8.952l8.313 8.313" />
                            </svg>
                        </button>
                        <button class="similar-products__nav-btn similar-products__nav-btn--next" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" fill="none" viewBox="0 0 10 18">
                                <path stroke="#888" d="m.65.64 8.313 8.313-8.314 8.313" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
