{% extends 'content.html' %}

{% block title %}
    Заказ №{{ order.id }} – {{ block.super }}
{% endblock %}

{% block heading %}
    Заказ №{{ order.id }}
{% endblock %}

{% block sidebar %}
    {% include 'users/_sidebar.html' with section=section %}
{% endblock %}

{% block inner %}
    <div class="cart">
        {% include '_cart-table.html' with container=items updatable=False %}

        <div class="cart__footer">
            <div style="margin-left: auto">
                <div class="cart-total cart__total">
                    <div class="cart-total__label" style="margin-right: 20px">Итого</div>
                    <div class="cart-total__price">
                        <span class="cart-total-price">{{ cart.discounted_total_price }}</span> ₽
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
