{% load static %}

<li class="product {{ class }}">
    <div class="product__inner">
        <div class="product-preview">
            <form class="product-preview__actions" action="{% url 'bookmark:update' product_id=product.id %}" method="POST">
                {% csrf_token %}

                <button class="product-preview__action {% if product in bookmark %}active{% endif %}" type="submit" name="action" value="{% if product in bookmark %}remove{% else %}add{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" fill="none" viewBox="0 0 19 17">
                        <path stroke-miterlimit="10" stroke-width="1.5" d="M9.28 5.155a4.147 4.147 0 1 1 8.29 0v.225c-.2 5.733-8.29 10.338-8.29 10.338S1.209 11.113 1 5.382v-.225a4.147 4.147 0 0 1 6.594-3.344" />
                    </svg>
                </button>

                <button class="product-preview__action" type="submit" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16">
                        <path stroke-miterlimit="10" stroke-width="1.5" d="M9.965 3.722V1.379c0-.086.025-.17.073-.243a.487.487 0 0 1 .197-.172.527.527 0 0 1 .518.035l7.039 4.663c.064.043.117.1.153.166a.443.443 0 0 1 0 .426.477.477 0 0 1-.153.166l-7.039 4.664a.52.52 0 0 1-.715-.136.445.445 0 0 1-.073-.243V8.386a9.138 9.138 0 0 0-4.96 1.789c-1.417 1.061-2.448 2.507-2.951 4.14l-.074.249a.469.469 0 0 1-.206.27.525.525 0 0 1-.657-.087.449.449 0 0 1-.117-.314V12.57c0-3.399 2.055-6.357 5.062-7.843" />
                    </svg>
                </button>
            </form>

            <a href="{{ product.get_absolute_url }}">
                <img class="product-preview__image" src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% static 'media/placeholder.png' %}{% endif %}" alt="{{ product.name }}">
            </a>
        </div>

        <div class="product__body">
            <a class="product__title product__title--sm" href="{{ product.get_absolute_url }}">
                {{ product.name }}
            </a>

            <div class="product-pricing product__pricing">
                <div class="product-pricing__price product-pricing__price--default">
                    {{ product.price }} ₽
                </div>
            </div>
        </div>

        <form class="cart-update-form product__footer" action="{% url 'cart:update' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="variation_id" value="">

            <table class="product-info product-info--sm product__info">
                <tbody>
                    <tr>
                        <th class="product-info__header">
                            Цвет:
                        </th>
                        <td class="product-info__data">
                            <div class="colors">
                                <div class="colors__list">
                                    {% for variation in product.colors %}
                                        {% ifchanged %}
                                            <label class="color color--sm colors__item" style="--color-value: {{ variation.color.value }}">
                                                <input class="color__field" type="radio" name="color_id" value="{{ variation.color.id }}">
                                                <span class="color__inner"></span>
                                            </label>
                                        {% endifchanged %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="product-info__header">
                            Размер:
                        </th>
                        <td class="product-info__data">
                            <div class="sizes sizes--sm product-info__sizes">
                                <div class="sizes__list">
                                    {% for variation in product.sizes %}
                                        {% ifchanged %}
                                            <label class="size sizes__item">
                                                <input class="size__field" type="radio" name="size_id" value="{{ variation.size.id }}">
                                                <span class="size__inner">
                                                    {{ variation.size.value }}
                                                </span>
                                            </label>
                                        {% endifchanged %}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="product__actions">
                <button class="btn btn--gold product__btn" type="submit" name="do" value="add" title="Выберите размер и цвет" disabled>
                    Добавить в корзину
                </button>
            </div>
        </form>
    </div>
</li>
