{% load mptt_tags %}

<aside class="sidebar sidebar--lg content__sidebar">
    {% if categories %}
        <section class="sidebar-section sidebar__section">
            <div class="sidebar-section__title">
                Категории товаров
            </div>

            <div class="category-nav">
                <ul class="category-nav__list">
                    {% recursetree categories %}
                        <li class="category-nav__item {% if node.id == category.id %}active{% endif %}">
                            <a class="category-nav__link {% if node.id == category.id %}active{% endif %}" href="{{ node.get_absolute_url }}">
                                {{ node.name }}
                            </a>

                            {% if not node.is_leaf_node %}
                                <button class="category-nav__btn" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" fill="none" viewBox="0 0 11 6">
                                        <path stroke="#2E2E2E" stroke-linecap="round" stroke-linejoin="round" d="m1 1 4.456 4.386L9.914 1" />
                                    </svg>
                                </button>

                                <div class="category-nav category-nav--sub">
                                    <ul class="category-nav__list">
                                        {{ children }}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        </section>
    {% endif %}

    <form id="catalogFilterForm" class="filter-form" action="{% if path %}{% url 'catalog:products' path=path %}{% else %}{% url 'catalog:products' %}{% endif %}" method="GET">
        {{ filter_form.s.as_hidden }}

        <section class="sidebar-section sidebar__section">
            <div class="sidebar-section__title">
                Размер
            </div>

            <div class="sizes sizes--sm product-info__sizes">
                <div class="sizes__list">
                    {% for choice in filter_form.size.field.choices %}
                        <label class="size sizes__item">
                            <input class="size__field" type="checkbox" name="{{ filter_form.size.name }}" value="{{ choice.0 }}" {% if choice.0|slugify in filter_form.size.value %}checked{% endif %}>
                            <span class="size__inner">
                                {{ choice.1 }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="sidebar-section sidebar__section">
            <div class="sidebar-section__title">
                Фильтр по цене:
            </div>

            <div class="price-filter">
                <div class="price-filter__inputs">
                    <div class="price-input price-filter__input">
                        {{ filter_form.price_from }}
                        <div class="price-input__label">
                            {{ filter_form.price_from.label }}
                        </div>
                        <div class="price-input__currency">
                            ₽
                        </div>
                    </div>

                    <div class="price-input price-filter__input">
                        {{ filter_form.price_to }}
                        <div class="price-input__label">
                            {{ filter_form.price_to.label }}
                        </div>
                        <div class="price-input__currency">
                            ₽
                        </div>
                    </div>
                </div>

                <div class="price-slider price-filter__slider"></div>
            </div>
        </section>

        <div class="filter-form__btns">
            <button class="btn btn--gray filter-form__btn" type="submit">
                Применить
            </button>

            <button class="btn btn--gray filter-form__btn" type="reset">
                Сбросить
            </button>
        </div>
    </form>
</aside>
