.benefits-section {
    padding: 120px 0 256px;

    &__header {
        max-width: 280px;
        margin: 0 auto;
        padding: 0 25px;
        transform: translateY(13px);

        background-color: var(--color-white);
    }

    &__benefits {
        margin-bottom: 174px;
    }
}
