.btn {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 11px;

    background-image: none;
    color: var(--color-white);
    cursor: pointer;

    font: inherit;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;


    &[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }


    &--gold {
        background-color: var(--color-gold);
    }

    &--gray {
        background-color: var(--color-gray);
    }
}
