.cart-product {
    display: flex;
    align-items: center;

    text-decoration: none;

    &__image {
        width: 80px;
        height: 100px;
        margin-right: 20px;
    }

    &__content {
        max-width: 150px;
    }

    &__title {
        color: var(--color-black);

        font-size: 17px;
        line-height: 20px;
    }

    &__param {
        color: var(--color-gray);

        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }
}
