.cart-items {
    &__list {
        max-height: 400px;
        overflow-y: auto;
        margin: 0;
        padding: 0 20px 0 0;
        list-style: none;

        &.empty ~ *:not(:last-child) {
            display: none;
        }
    }

    &__msg {
        display: none;
    }

    &__list.empty ~ &__msg {
        display: block;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__summary {
        margin: 10px 0;
        padding-top: 10px;
        border-top: 1px solid #e5e5e5;

        color: var(--color-black);

        text-align: right;
    }

    &__link {
        display: block;
        max-width: 177px;
        margin-left: auto;

        font-size: 13px;
        letter-spacing: 0.5px;
    }
}
