.category-nav {
    &--sub {
        width: 100%;
        max-height: 0;
        overflow: hidden;

        transition: max-height 0.3s ease;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &--sub &__list {
        margin-top: 13px;
        padding-left: 20px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    &__link {
        color: #2E2E2E;
        transition: color 0.3s ease;

        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-decoration: none;

        &:hover {
            color: var(--color-gold);
        }
    }

    &__btn {
        flex-grow: 1;
        border: none;

        background-image: none;
        cursor: pointer;

        text-align: right;

        svg {
            transition: transform 0.3s ease;
        }
    }

    &__item.active > &__btn svg {
        transform: rotateZ(-180deg);
    }
}
