.checkout {
    display: flex;

    &__form {
        flex-grow: 1;
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    &__summary {
        align-self: flex-start;
        flex-shrink: 0;
        position: sticky;
        top: 15px;
        margin-left: 30px;
    }
}
