.colors {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 13px;
        }
    }
}
