.contact {
    display: flex;
    align-items: flex-start;

    &__icon {
        flex-shrink: 0;
        margin-right: 8px;
    }

    &__title {
        margin-bottom: 8px;

        color: var(--color-black);

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__inner {
        color: #484848;

        text-decoration: none;
    }
}
