.feature {
    &__thumb {
        min-height: 51px;
        display: flex;
        align-items: center;
    }

    &__title {
        margin: 19px 0 9px;

        color: var(--color-black);
    }

    &__link {
        border-bottom: 1px solid var(--color-gray);

        font-size: 12px;
        line-height: 14px;
    }
}
