.footer-contact {
    display: flex;
    align-items: center;

    color: #484848;

    font-size: 14px;
    line-height: 17px;

    &__icon {
        flex-shrink: 0;
    }

    &__text {
        margin-left: 16px;
    }
}
