.footer-form {
    &__title {
        margin-bottom: 28px;
    }

    &__subtitle {
        max-width: 200px;
        margin-bottom: 17px;

        color: var(--color-gray);

        font-size: 12px;
        line-height: 16px;
    }

    &__group {
        display: flex;
    }

    &__field {
        box-sizing: border-box;
        min-width: 290px;
        min-height: 45px;
        padding: 10px;
        border: none;

        outline: none;
        background-color: #F0F0F0;
        color: inherit;

        font: inherit;
    }

    &__btn {
        min-width: 70px;
        margin-left: 10px;
        padding: 0;
        border: 3px solid #F0F0F0;

        background-image: none;
        cursor: pointer;
    }
}
