.header {
    &__top,
    &__bottom {
        border-bottom: 1px solid rgba(136, 136, 136, 0.3);
    }

    &__top {
        font-size: 13px;
        line-height: 16px;

        color: #767676;
    }

    &__top-container {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 7px;
    }

    &__bottom-container {
        display: flex;
        align-items: center;
        padding-top: 11px;
        padding-bottom: 10px;
    }

    &__address {
        margin-left: 33px;
    }

    &__mail {
        margin-right: 42px;
        margin-left: auto;
    }

    &__phone {
        margin-right: 12px;
    }

    &__btn {
        margin-right: 42px;
        padding: 0;
        border: none;
        border-bottom: 1px solid rgba(136, 136, 136, 0.3);

        background-image: none;
        color: inherit;
        cursor: pointer;
    }

    &__logo {
        margin-right: 30px;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__action {
        svg {
            stroke: var(--color-gray);
            fill: var(--color-gray);

            path {
                transition: stroke 0.3s ease,
                            fill 0.3s ease;
            }
        }

        &:hover svg {
            stroke: var(--color-gold);
            fill: var(--color-gold);
        }

        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}
