.hero-slider {
    position: relative;

    &__slides {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        transform: translateY(-50%);
    }
}
