.link {
    color: inherit;

    text-decoration: none;

    transition: border-color 0.3s ease,
                color 0.3s ease;

    &:hover {
        border-color: var(--color-gold);
        color: var(--color-gold);
    }
}
