.nav {
    padding-left: 30px;
    border-left: 1px solid var(--color-gold);

    &__list {
        min-height: 38px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}
