.orders {
    width: 100%;
    border-collapse: collapse;

    &__head {
        border-bottom: 1px solid rgba(136, 136, 136, 0.5);
    }

    &__header {
        padding: 0 12px 9px;

        color: #2E2E2E;

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
    }

    &__row {
        transition: background-color 0.3s ease,
                    color 0.3s ease;

        font-size: 15px;
        line-height: 18px;

        &:hover {
            background-color: rgba(175, 153, 107, 0.5);
            color: #2E2E2E;
        }
    }

    &__data {
        padding: 6px 12px;
    }

    &__btn {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        max-width: 112px;
        padding: 7px;
        border: 1px solid #E0E0E0;

        color: #2E2E2E;

        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-decoration: none;

        &--gray {
            background-color: #E0E0E0;
        }

        &--white {
            background-color: var(--color-white);
        }
    }
}
