.payment-method {
    position: relative;
    min-height: 75px;

    cursor: pointer;

    &__wrapper {
        box-sizing: border-box;
        height: 100%;

        text-align: center;
    }

    &--1 &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 12px;
        border: 1px solid var(--color-gold);

        cursor: pointer;
    }

    &--2 &__wrapper {
        padding: 0;
        border: none;

        cursor: auto;
    }

    &__hidden:checked + &__wrapper {
        background-color: var(--color-gold);
    }

    &__icon {
        stroke: var(--color-black);
    }

    &--1 &__icon {
        margin-right: 10px;
    }

    &--2 &__icon {
        margin-bottom: 17px;
    }


    &__hidden:checked + &__wrapper &__icon {
        stroke: var(--color-white);
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--2 &__inner {
        flex-direction: column;
    }

    &__title {
        color: var(--color-black);

        font-size: 17px;
        line-height: 20px;
    }

    &__hidden:checked + &__wrapper &__title {
        color: var(--color-white);
    }

    &__tip {
        margin-top: 10px;
    }

    &__hidden:checked + &__wrapper &__tip {
        color: var(--color-white);
    }





    &__options {
        position: absolute;
        top: calc(100% + 16px);
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        display: none;
    }

    &__hidden:checked ~ &__options {
        display: flex;
    }
}
