.price-input {
    position: relative;

    &__field {
        box-sizing: border-box;
        max-width: 100%;
        padding: 8px 27px 8px 35px;
        border: 1px solid #E0E0E0;

        outline: none;
        color: #2E2E2E;

        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        text-align: right;
        font-weight: 500;

        &:focus {
            border-color: var(--color-gray);
        }
    }

    &__label {
        position: absolute;
        top: 9px;
        left: 14px;

        color: #E0E0E0;
        pointer-events: none;

        font-size: 17px;
    }

    &__field:focus + &__label {
        color: var(--color-gray);
    }

    &__currency {
        position: absolute;
        top: 9px;
        right: 14px;

        color: #2E2E2E;
        pointer-events: none;

        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }
}
