.products {
    position: relative;

    &__sorter {
        margin-bottom: 35px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        padding: 0;
        list-style: none;
    }

    &__list--3-cols &__item {
        width: calc(100%*1/3 - 30px);
        margin: 15px;
    }

    &__list--4-cols &__item {
        width: calc(100%*1/4 - 30px);
        margin: 15px;
    }

    &__item {

    }

    &__actions {
        display: flex;
        justify-content: center;
        margin-top: 51px;
    }

    &__more-link {
        position: relative;
        z-index: 3;
        min-width: 153px;
        min-height: 42px;
        padding: 12px;
    }
}
