.product-sorter {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;

        color: inherit;
        transition: color 0.3s ease;

        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-decoration: none;

        &:not(:last-child) {
            margin-right: 63px;
        }

        span {
            margin-right: 10px;
            border-bottom: 1px dashed var(--color-gray);

            transition: border-bottom-color 0.3s ease;
        }

        svg {
            stroke: #888;
            transition: stroke 0.3s ease;
        }

        &:hover {
            color: var(--color-gold);
        }

        &:hover span {
            border-bottom-color: var(--color-gold);
        }

        &:hover svg {
            stroke: var(--color-gold)
        }
    }
}
