.product-info {
    &__header {
        padding-right: 24px;
        padding-bottom: 12px;

        color: #2E2E2E;

        vertical-align: top;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
    }

    &--sm &__header {
        padding-right: 10px;

        color: rgba(46, 46, 46, 0.5);

        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    &__data {
        padding-bottom: 12px;

        color: #2E2E2E;

        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }

    &__sizes {
        // width: 250px;
    }
}
