.product-param {
    display: flex;

    &__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;

        &--black {
            color: var(--color-black);
        }

        &--gray {
            color: rgba(46, 46, 46, 0.5);
        }
    }
}
