.promo-input {
    display: block;

    &__title {
        margin-bottom: 7px;

        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }

    &__inner {
        display: flex;
    }

    &__field {
        flex-grow: 1;
        width: 0;
        padding: 8px 11px;
        border: 1px solid #E0E0E0;

        outline: none;
        color: inherit;

        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }

    &__btn {
        min-width: 135px;
        border: none;
        padding: 11px;

        color: #2E2E2E;
        background-image: none;
        background-color: #E0E0E0;
        cursor: pointer;

        line-height: 17px;
    }

    &__message {
        margin-top: 7px;

        color: var(--color-gold);

        font-size: 16px;
        line-height: 19px;
    }
}
