.search-action {
    position: relative;

    &__inner {
        padding: 0;
        border: none;

        background-image: none;
        color: inherit;
        cursor: pointer;
    }

    &__popup {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 3;
        display: none;

        &.active {
            display: block;
        }
    }
}
