.sidebar {
    flex-shrink: 0;

    &--sm {
        width: 170px;
    }

    &--lg {
        width: 270px;
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}
