.similar-products {
    &__slides {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__nav {
        position: absolute;
        top: 133px;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        width: 100%;

        pointer-events: none;
    }

    &__nav-btn {
        width: 69px;
        height: 69px;
        border: none;

        border-radius: 50%;
        background-image: none;
        background-color: var(--color-white);
        cursor: pointer;
        pointer-events: auto;

        &--prev {
            margin-left: -20px;
        }

        &--next {
            margin-right: -20px;
        }
    }
}
