.sizes {
    &--sm {
        line-height: 1.2;
    }

    &--lg {
        max-width: 260px;

        line-height: 1.5;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &--sm &__list {
        margin: -3px;
    }

    &--lg &__list {
        margin: -6px -9px;
    }

    &__item {

    }

    &--sm &__item {
        width: 22px;
        height: 22px;
        margin: 3px;
    }

    &--lg &__item {
        width: 25px;
        height: 25px;
        margin: 6px 9px;
    }

    &__btn {
        margin-top: 15px;
        padding: 0;
        border: none;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.5);

        background-image: none;
        color: var(--color-black);
        cursor: pointer;

        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
    }
}
