.subnav-item {
    position: relative;

    &__link {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        color: var(--color-black);
        transition: color 0.3s ease;

        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.4px;
        white-space: nowrap;
        text-decoration: none;
    }

    &:hover > &__link {
        color: var(--color-gold);
    }


    &__icon {
        stroke: var(--color-gray);
        transition: transform 0.3s ease;
    }

    &:hover > &__link &__icon {
        stroke: var(--color-gold);
        transform: rotateZ(270deg);
    }



    &__subnav {
        position: absolute;
        top: 0;
        left: 100%;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease,
                    visibility 0.3s ease;
    }

    &:hover > &__subnav {
        opacity: 1;
        visibility: visible;
    }
}
