.marquee {
    width: 100%;

    user-select: none;
    font-size: 0;
    white-space: nowrap;

    &__line {
        display: inline-block;

        font-family: sans-serif;
        font-size: 120px;
        line-height: 133.33333%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
