

:root {
    --container-side-padding: 15px;
    --container-width: 1170px;
    --container-max-width: calc(var(--container-width) + 2*var(--container-side-padding));

    --color-black: #000;
    --color-gray: #888;
    --color-gold: #AF996B;
    --color-error: #E1372F;
    --color-white: #FFF;
}
