<div class="breadcrumbs content__breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
                Главная
            </a>
        </li>
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
                Женская одежда
            </a>
        </li>
        <li class="breadcrumbs__item">
            <span class="breadcrumbs__link active">
                Платья
            </span>
        </li>
    </ul>
</div>
