{% with variation=item.variation product=item.variation.product %}
    <li class="cart-item cart-items__item" data-variation-id="{{ variation.id }}">
        <form action="{% url 'cart:remove' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="variation_id" value="{{ variation.id }}">

            <button class="cart-item__remove-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 32 32">
                    <path fill="#fff" d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" />
                </svg>
            </button>
        </form>

        <a class="cart-item__image-container" href="{{ product.get_absolute_url }}">
            <img class="cart-item__image" src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
        </a>

        <div class="cart-item__content">
            <a class="link cart-item__title" href="{{ product.get_absolute_url }}">
                {{ product.name }} – {{ variation.size.value }} –
                <label class="color color--sm colors__item" style="--color-value: {{ variation.color.value }}">
                    <span class="color__inner"></span>
                </label>
            </a>
            <div class="cart-item__summary">
                <span class="cart-item__qty cart-item-qty">{{ item.quantity }}</span> x <span class="cart-item__price">{{ product.price }} ₽</span>
            </div>
        </div>
    </li>
{% endwith %}
